
<form  id='navbar-search-form' class="navbar-form navbar-center"  method="GET" action="{% url 'search' %}">
  <div class="form-group">
<input class="form-control" type="text" placeholder="Your Search" value="{{request.GET.q}}"/ name="q" />
</div>
<input class="btn btn-primary" type="submit" value="search" name="search"/>
</form>
