<!DOCTYPE html>

{% extends 'tweets\base.html' %}
{% load recommended %}
{% block title %}List{% endblock title %}
{% block script %}
            <script>


          $(document).ready(function(){
          loadTweetContainer("tweet-container")
          });
            </script>
{% endblock script %}



{% block content %}

<div class="container" style="width:40%; height:10%; margin:0 auto;">

  <div class="row">
       <div class="col-sm-3 col-xs-12" style="background-color:red; height:20%; width:30%;">
           <h3> {{request.user}}</h3>
           <br/>
           <p class="lead">Recommended Users</p>
           {% recommended request.user %}
       </div>
       {% include 'tweets\form.html' with form=create_form action_url=create_url btn_title=Tweet form_class='tweet-form' %}
       <div id="tweet-container" data-url="/api/tweets/"></div>

       </div>
       <a href="#" id='loadmore'>Load More Tweets</a>




           </div>


{% endblock content %}
