<!DOCTYPE html>
{% extends 'tweets\base.html' %}
{% block script %}
<script>
$(document).ready(function(){
  loadTweetContainer("tweet-container",{{object.id}})
})
</script>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-1" style="background-color:yellow">
    <h3>{{ tweets.user}}</h3>
  </div>
  <div class="col-xs-12 col-sm-9">
  <div id='tweet-container'>
</div>
  </div>
  </div>


{% endblock %}
