{% extends 'tweets\base.html' %}
{% block content %}
<form method="post" >
{% csrf_token %}
<b><p>Are you sure you want to delete it?</p><b>
<p>{{ tweets.content }}</p>
<input class="btn btn-warning " value="Delete" type="submit"></form>
{% endblock %}
