<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tweets| {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css\bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css\bootstrap-grid.css' %}">



  <style>

  .red-color{
    color:red;
    }
    .grey-color{
      color:#ccc;
    }
    .media-focus{
      background-color:rgba(255,255,0,0.22);
    }
  </style>

  </head>
  <body>

    <nav class="navbar navbar-default ">
       <div class ="collapse navbar-collapse" >
         <ul class="nav navbar-nav ">
           <li>
             <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            <a class="navbar-link" href="{% url 'tweets:create' %}">Create</a>
            {% include 'tweets\search_form.html' %}

             <a class="navbar-link text-right" style="float:right;" href="{% url 'register' %}">Register</a>
              <a class="navbar-link text-right" style="float:right;" href="{% url 'logout' %}">Logout</a></li>

            </ul>
          </div>
     </nav>
<div class="container">
      {% block content %}
      {% endblock %}
</div>
    {% include "tweets\reply-modal.html" %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script>

function getParameterByName(name, url) {
   if (!url) url = window.location.href;
   name = name.replace(/[\[\]]/g, "\\$&");
   var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
       results = regex.exec(url);
   if (!results) return null;
   if (!results[2]) return '';
   return decodeURIComponent(results[2].replace(/\+/g, " "));}

function loadTweetContainer(tweetContainerId,fetchOneId){
  console.log("working");
  var query=getParameterByName('q');
  var tweetlist=[];
  var nextTweetUrl;

  var tweetContainer;
  if (tweetContainerId){
    tweetContainer=$("#"+tweetContainerId)
  }
  else{
      tweetContainer=$("#tweet-container")
  }
var initialUrl=tweetContainer.attr("data-url") || "/api/tweets/" ;

$(document.body).on("click",".tweets-like",function(e){
  e.preventDefault()
  var this_=$(this)
  var tweetId=this_.attr("data-id")
  var likedUrl='/api/tweets/'+tweetId+"/like/"
  $.ajax({
    method:"GET",
    url:likedUrl,
    success:function(data){
      if(data.liked){
        this_.text("Liked")
      }
      else{
        this_.text("Unliked")
      }
    },
    error:function(data){
      console.data(error)
    }

  })
})

$(document.body).on("click",".tweet-reply",function(e){
  e.preventDefault()
  var this_=$(this)
  var parentId=this_.attr("data-id")
  var username=this_.attr("data-user")
  var content=this_.parent().parent().find(".content").text()
  $("#replyModal").modal({})
$("#replyModal textarea").after(" <input type='hidden' value='"+parentId+"' name='parent_id' />")
$("#replyModal textarea").after(" <input type='hidden' value='"+true+"' name='reply' />")
$("#replyModal textarea").val("@"+username+" ")
$("#replyModal #replyModalLabel").text("Reply to"+content)
  $("#replyModal").on("shown.bs.modal",function(){
    $(".textarea").focus()
  })
})

$(document.body).on("click",".retweetBtn",function(e){
  e.preventDefault()
  var url="/api"+$(this).attr("href")
  $.ajax({
    method:"GET",
    url:url,
    success:function (data){
      console.log("namastee")
      if(initialUrl=="/api/tweets/"){
        attachTweets(data, true,true)
        updateHashLinks()
      }

    },
    error:function(data){
      console.log("error")
      console.log(data)
    }
  })
})
  function updateHashLinks(){
    $(".content").each(function(data){
      var hashtagRegex=/(^|\s)#([\w\d-]+)/g
      var usernameRegex=/(^|\s)@([\w\d-]+)/g
      var currentHtml=$(this).html()
      var newText;
       newText=currentHtml.replace(hashtagRegex,"$1<a href='/tags/$2/'>#$2</a>")
       newText=newText.replace(usernameRegex,"$1@<a href='/$2/'>$2</a>")
      $(this).html(newText)
    })
  }

  function formatTweet(tweetvalue){

    var preContent;
    var container;
    var tweetContent;
    var isReply=tweetvalue.reply
    var replyId=tweetvalue.id
    if (tweetvalue.parent){
      replyId=tweetvalue.parent.id
}
var opneningContainerDiv="<div class=\"media\">"
if(tweetvalue.id==fetchOneId){
  opneningContainerDiv="<div class=\"media media-focus\">"
  setTimeout(function(){
    $('.media-focus').css("background-color","#fff")
  },3000)
}

    if(tweetvalue.parent && !isReply){
      tweetvalue=tweetvalue.parent
        console.log("ho")
    preContent="<span class='grey-color'>Retweet via "+tweetvalue.user.username+" on "+tweetvalue.date_display+"</span></br>"
    }
    else if(tweetvalue.parent && isReply){
      console.log("helllo")
      preContent="<span class='grey-color'>Reply to @"+tweetvalue.parent.user.username+"</span></br>"
    }  var verb='Like'
      if(tweetvalue.did_like){
        verb='Unlike'
      }
    tweetContent="<span class='content'>"+tweetvalue.content+"</span></br> via <a href='"+tweetvalue.user.url+"'>"+tweetvalue.user.username+"</a>"+" | "+tweetvalue.date_display+" | "+"<a href='/tweets/"+ tweetvalue.id +"'>View</a>"+" | "+"<a class='retweetBtn' href='/tweets/"+ tweetvalue.id +"/retweet/"+"'>Retweet</a>"+" | "+"<a href='#' class='tweets-like' data-id='"+ tweetvalue.id +"'>"
    + verb + "("+ tweetvalue.likes +")</a>"+" | <a href='#' class='tweet-reply' data-user='"+tweetvalue.user.username+"'data-id='"+replyId+"'>Reply</a>"
    if(preContent){
      container=opneningContainerDiv+"<div class=\"media\"><div class=\"media-body\">"+preContent+tweetContent+"</div></div><hr/>"
    }
    else{
      container=opneningContainerDiv+"<div class=\"media\"><div class=\"media-body\">"+tweetContent+"</div></div><hr/>"

    }
    return container
  }

  function attachTweets(tweetvalue,prepend,retweet){
     tweetFormattedHtml= formatTweet(tweetvalue)

    if(prepend==true){
    tweetContainer.prepend(tweetFormattedHtml)

    }
    else{
    tweetContainer.append(tweetFormattedHtml)
    }

  }

  function parseTweets(){
    if(tweetlist==0){
      tweetContainer.append("<div><b>No Tweets Found </b></div>")
    }
    else{
      $.each(tweetlist,function(key,value){
        var tweetkey=key;
        if (value.parent){
          attachTweets(value,false,true)
        }

        else {
          attachTweets(value)
        }
      })

    }
  }


function fetchTweets(url){
   var fetchUrl;
   if(!url){
     fetchUrl=initialUrl
   }else{
     fetchUrl=url
   }
    $.ajax({
    url:fetchUrl,
    data:{
      "q":query
    },
    method:"GET",
    success:function(data){
      tweetlist=data.results
      if(data.next){nextTweetUrl=data.next}
      else{
        $("#loadmore").css("display","none")
      }
      parseTweets()
      updateHashLinks()

    },
    error:function(data){
      console.log("error");
      console.log(data);
    },
  });
}

function fetchSingle(fetchOneId){
   var fetchDetailUrl='api/tweets/'+fetchOneId+'/'
    $.ajax({
    url:fetchDetailUrl,
    method:"GET",
    success:function(data){
      tweetlist=data.results

      parseTweets()
      updateHashLinks()

    },
    error:function(data){
      console.log("error");
      console.log(data);
    }
  })
}

if(fetchOneId){
  fetchSingle(fetchOneId)
}else{
fetchTweets()
}

$("#loadmore").click(function(event){
  event.preventDefault();
  if(nextTweetUrl){
    fetchTweets(nextTweetUrl)
  }
})
var charset=140;
var charcurrent=0;
$(".tweet-form").append("<span class='tweetcharleft' style='margin-left:20px;'>"+charset+" left</span>")
$(".tweet-form textarea").keyup(function(event){
  var tweetvalue=$(this).val()
  charcurrent=charset-tweetvalue.length
  var spanchars=$(this).parent().parent().parent().find('span.tweetcharleft')
  spanchars.text(charcurrent)
  if(charcurrent>0){
    spanchars.removeClass("grey-color")
    spanchars.removeClass("red-color")
  }
  else if(charcurrent==0){
     spanchars.addClass("grey-color")
     spanchars.removeClass("red-color")
  }
     else{
       spanchars.addClass("red-color")
       spanchars.removeClass("grey-color")
     }
})

  $('.tweet-form').submit(function(event){
      console.log("fdbd")
      event.preventDefault()
      var this_= $(this)
      var formData=this_.serialize()
      if(charcurrent>=0){
      $.ajax({
      url:"/api/tweets/create/",
      data:formData,
      method:"POST",
      success:function(data){
        this_.find("input[type='text'],textarea").val("")
        attachTweets(data, true);
        updateHashLinks();
        $("#replyModal").modal("hide")

      },
      error:function(data){
        console.log("error");
        console.log(data);
      },
    });}
    else{console.log("maintain the limit")}
  })
}
</script>
{% block script %}{% endblock %}
<script>
$(document).ready(function(){
  var typingTimer;
  var doneInterval=500;
  var searchInput=$("#navbar-search-form input[type=text]")
  var searchQuery;
  searchInput.keyup(function(event){
    searchQuery=$(this).val()
    clearTimeout(typingTimer)
    typingTimer=setTimeout(doneSearchTyping,doneInterval)

  })
  searchInput.keydown(function(event){
    clearTimeout(typingTimer)
  })
  function doneSearchTyping(){
    if(searchQuery){
      var url='/search/?q='+searchQuery
      document.location.href=url;
    }
  }
})
</script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
