{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}">
  </head>
  <body>
    <div class="jumbotron">
    <h1>Welcome!!!!</h1>
  </div>
  </body>
</html>
